<div class="container vertical">
<div class="row" style="padding-top: 75px;">

    <div class="col-md-4"></div>
    <div class="col-sm-6">
        <div>
            <% var creando = typeof usuario === "undefined" ? true : false; %>

            <h1> <%= creando ? 'Crear' : 'Actualizar' %> Usuario</h1>
            <form action="/<%= creando ? 'crear' : 'actualizar' %>_usuario<%= creando ? '' : '/'+usuario.id %>"
                  method="POST">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control"
                            id="nombre"
                           value="<%= creando ? '' : usuario.nombreUsuario %>"
                           name="nombreUsuario" type="text">
                </div>

                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input class="form-control"
                            name="apellidoUsuario"
                              id="apellido"
                             ><%= creando ? '' : usuario.apellidoUsuario %>
                    </input>
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input class="form-control"
                            type="email" name="correoUsuario"
                              id="correo"
                             ><%= creando ? '' : usuario.correo %>
                    </input>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control"
                            type="password"
                            name="clave"
                              id="password"
                             ><%= creando ? '' : usuario.clave %>
                    </input>
                </div>
                <button class="btn btn-dark" type="reset">Resetear formulario</button>
                <button class="btn btn-success" onclick="validarNombre(event)"><%= creando ? 'Crear' : 'Actualizar' %> Usuario</button>
            </form>

            <a href="/">
                <button class="btn btn-light">Regresar</button>
            </a>


            <script>
                function validarNombre(evento) {
                    // 0) Obtener el valor del campo
                    // 1) Revisar el campo no este vacio
                    // 2) Revisar el campo tenga 3 char
                    const inputNombre = document
                        .getElementById("nombre");
                    const nombre = inputNombre.value;
                    if (nombre.length < 3) {
                        event.preventDefault()
                        alert('Tu nombre es muy corto')
                    }else{

                    }

                }
            </script>


        </div>
    </div><div class="col-md-4"></div>

</div>
</div>