<% var creando = typeof usuario === "undefined" ? true : false; %>

<h1> <%= creando ? 'Crear' : 'Actualizar' %> Usuario</h1>
<p><%= creando ? 'Creando' : 'Actualizando' %> un usuario.</p>
<form action="/Usuario/<%= creando ? 'crear' : 'actualizar' %>-usuario/<%= creando ? '' : usuario.id %>"
      method="POST">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre"
               value="<%= creando ? '' : usuario.nombre %>"
               name="nombre" type="text">
    </div>

    <div>
        <label for="biografia">Biografía</label>
        <textarea name="biografia"
                  id="biografia"
                  cols="30"
                  rows="3"><%= creando ? '' : usuario.biografia %>
        </textarea>
    </div>
    <button type="reset">Resetear formulario</button>
    <button onclick="validarNombre(event)"><%= creando ? 'Crear' : 'Actualizar' %> Usuario</button>
</form>

<a href="/Usuario/inicio">
    <button>Regresar</button>
</a>


<script>
    function validarNombre(evento) {
        // 0) Obtener el valor del campo
        // 1) Revisar el campo no este vacio
        // 2) Revisar el campo tenga 3 char
        const inputNombre = document
            .getElementById("nombre");
        const nombre = inputNombre.value;
        if (nombre.length < 3) {
            event.preventDefault()
            alert('Tu nombre es muy corto')
        }else{

        }

    }
</script>






