<!doctype html>
<html lang="es">
<head>

    <title>Lista de Usuarios</title>
    <% include ./partials/head.ejs %>


</head>
<body>



<% include ./partials/header.ejs %>

<div class="container">

    <br>
    <br>




        <!-- Then put toasts within -->

    </div>
    <% const existeMensaje = typeof mensaje !== "undefined" ? true : false; %>

    <% if(existeMensaje){ %>

        <div class="animated fadeOut alert alert-<%= accion %>" role="alert">
            MENSAJE: <%= mensaje %>
        </div>

    <% } %>

    <% var apellido = 'Eguez' %>
    <!-- h1 -> Header 1 -->




    <h1> Las mejores casas que nunca podras comprar: </h1>




    <table class="table table-hover animated fadeInUp">
        <caption>Lista de usuarios</caption>
        <!-- tr -> table row -->
        <thead>
        <tr>
            <!-- th -> table header -->
            <th width="30%">Nombre</th>
            <th width="50%">Biografía</th>
            <th width="20%">Acciones</th>
        </tr>
        </thead>
        <!-- tr -> table row -->
        <tbody>
        <% arreglo.forEach((usuario)=>{ %>
            <tr>
                <!-- td -> table detail -->
                <td><%= usuario.nombre %></td>
                <td><%= usuario.biografia %></td>
                <td>
                    <form action="/Usuario/borrar/<%= usuario.id %>"
                          method="post"
                    >
                        <!--<button type="button">Yo no</button>-->
                        <!--<button>Yo si</button>-->
                        <button type="submit"
                                class="btn btn-outline-danger btn-block btn-espaciado"
                                onclick="borrar(event)">Eliminar
                        </button>
                    </form>
                    <a class="quitar-decoracion" href="/Usuario/actualizar-usuario/<%= usuario.id %>">

                        <button class="btn btn-outline-info btn-block btn-espaciado"
                                type="button">
                            Actualizar
                        </button>
                    </a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>


</div>



</body>
</html>